@import "./variables.scss";

.character-create{
    display: flex;
    background-color: $back-tone;
}

.character-create-img-container {
    display: flex;
    align-items: center;
    min-width: 400px;
    height: auto;
    width: 50%;
    border-right: 3px solid $sec-highlight;

    .create-img {
        height: 100%;
        width: 100%;
    }
}

.character-create-form {
    // min-width: 750px;
    display: flex;
    box-sizing: border-box;
    background-color: $main-color;
    height: auto;
    width: 50%;
    background-color: $back-tone;
    color: white;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    // border-left: 3px solid $sec-highlight;
    flex-direction: column;
    flex-wrap: wrap;
}

.character-create-form h1 {
    width: 100%;
    font-family: 'Righteous', 'Roboto', sans-serif;
    font-size: 56px;
    color: $sec-highlight;
    text-align: center;
    text-shadow: 4px 4px black;
}

.character-create-form hr {
    border-top: 2px solid $sec-highlight;
    // border-bottom: 1px solid $sec-highlight;
}

.character-create-img-container img {
    // height: 100%;
}

.character-create-form label {
    font-size: 25px;
    margin: 0 20px 0 0;
    font-family: 'Righteous', 'Roboto', sans-serif;
}
.proficiencies-checkbox-container label:hover {
    background-color: $main-highlight;
    padding: 10px;
    border-radius: 25%;
}
.proficiencies-checkbox-container label{
    cursor: pointer;
}
.proficiencies-checkbox-container li {
    padding: 10px 0;
}

.prof-checked{
    color: $sec-highlight;
}

.character-create-form input {
    border-radius: 3px;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.create-field {
    display: flex;
    width: 47%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

.create-field select {
    border-radius: 3px;
    font-size: larger;
    text-align: center;
    text-align-last:center;
    font-weight: bold;
}

.proficiencies-checkbox-container ul {
    list-style: none;
    background-color:$main-color; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;
    padding: 10px;
    border-radius: 5px;
    margin-top: .5rem;
}

.vitals-container {
    list-style: none;
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-top: .5rem;    
    justify-content: space-between;
}


.proficiencies-checkbox-container li {
    width: 50%;
    text-align: center;
    margin: 2px;
}

#create-button {
    align-items: center;
    width: 70%;
    font-size: 35px;
    background-color: $sec-highlight;
    color: $main-highlight;
    border-color: $sec-color;
    height: 70px;
    font-family: 'Righteous', 'Roboto', sans-serif;
    margin-top: 20px;
}

.sub-prof {
    font-size: 20px;
}

.submit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly
}

#stats-roll-button {
    width: 420px;
}

.character-create-form button {
    box-sizing: border-box;
    margin: 10px;
    width: 200px;
    font-weight: bold;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    width: 225px;
    font-size: 20px;
    background-color: $sec-highlight;
    color: $main-highlight;
    border-color: $sec-color;
    
}


