@import "./variables.scss";

.character-create{
    display: flex;
    background-color: $back-tone;
}

.character-create-img-container {
    display: flex;
    align-items: center;
    min-width: 400px;
    height: auto;
    width: 50%;
    border-right: 3px solid $sec-highlight;

    .create-img {
        height: 100%;
        width: 100%;
    }
}

.character-create-form {
    display: flex;
    box-sizing: border-box;
    background-color: $main-color;
    height: auto;
    width: 50%;
    background-color: $back-tone;
    color: white;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;

    .char-create-error {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #312e30;
        border-radius: 5px;
        border: 3px solid black;
        padding-bottom: 1rem;

        h2 {
            margin-top: 1rem;
            font-family: 'Righteous', 'Roboto', sans-serif;
            letter-spacing: 2px;
        }
    }

    h1 {
        width: 100%;
        font-family: 'Righteous', 'Roboto', sans-serif;
        font-size: 56px;
        color: $sec-highlight;
        text-align: center;
        text-shadow: 4px 4px black;
    }

    hr {
        border-top: 3px solid $sec-highlight;
    }

    label {
        font-size: 25px;
        margin: 0 20px 0 0;
        font-family: 'Righteous', 'Roboto', sans-serif;
        letter-spacing: 2px;
    }

    input {
        border-radius: 3px;
        font-size: larger;
        text-align: center;
        font-weight: bolder;
        font-family: 'Roboto', sans-serif;
    }

    button {
        box-sizing: border-box;
        margin: 10px;
        font-weight: bold;
        font-weight: bolder;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        width: 225px;
        font-size: 20px;
        background-color: $sec-highlight;
        color: $main-highlight;
        border-color: $sec-color;
    }
}

.proficiencies-checkbox-container {
    ul {
        list-style: none;
        background-color:$main-color; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
        padding: 10px;
        border-radius: 5px;
        margin-top: .5rem;
        border: 3px solid black;
    }

    label:hover {
        background-color: $main-highlight;
        padding: 10px;
        border-radius: 25%;
    }

    label {
        cursor: pointer;
    }

    li {
        padding: 10px 0;
        width: 50%;
        text-align: center;
        margin: 2px;
    }
}

.prof-checked{
    color: $sec-highlight;
}

.create-field {
    display: flex;
    width: 47%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;

    select {
        border-radius: 3px;
        font-size: larger;
        text-align: center;
        text-align-last:center;
        font-weight: bold;
    }
}

.vitals-container {
    list-style: none;
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-top: .5rem;    
    justify-content: space-between;
    border: 3px solid black;
}

#create-button {
    border-radius: 15px;
    align-items: center;
    width: 70%;
    font-size: 35px;
    background-color: $sec-highlight;
    color: $main-highlight;
    border-color: $sec-color;
    height: 70px;
    font-family: 'Righteous', 'Roboto', sans-serif;
    margin-top: 20px;
}

.sub-prof {
    font-size: 20px;
}

.submit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly
}

#stats-roll-button {
    width: 420px;
    border-radius: 10px;
}
#stats-roll-button:hover, #create-button:hover{
    background-color: rgb(94, 0, 0);
    color: rgb(131, 133, 212);
}