footer {
    height: 12vh;
    width: 100%;
    background-color: $main-color;
    border-top: 3px solid $sec-highlight;
    display: flex;
    justify-content: center;
}

footer > a {
    width: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.git {
    height: 100%;
    align-self: center;
}