.game-create-main h1{
    font-size: 40px;
    text-align: center;
    padding: 20px 0px;
}
.game-create-main h2{
    font-size: 25px;
    padding: 10px;
}
.game-create-main{
    background-color: rgba(0, 255, 42, 0.561);
    position: relative;
    padding: 10px 10px 50px 10px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
button.create-game{
    font-size: 30px;
    background-color: #7D83FF;
    border: 2px solid #9fcf46;
    border-radius: 15%;
    justify-content: center;
    height: 50px;
    font-size: larger;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 45%;
    min-width: 200px;
}
.characters-chosen ul{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.monsters-chosen ul{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.game-create-main li{
    font-size: 20px;
    padding: 5px;
    list-style: none;
}
.game-characters-main, .game-monsters-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.game-create-main form{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
}

.game-create-main form label{
    font-size: 24px;
}

.game-create-main form input{
    font-size: 20px;
    margin:10px;
}