.game-create-main h1{
    font-size: 40px;
    text-align: center;
    padding: 10px 0px;
    text-shadow: 1px 1px black;
    color: #830614;
}
.game-create-main h2{
    font-size: 25px;
    padding: 10px;
    text-align: center;
}
.game-create-main{
    background-image: url(../assets/images/create_pic.jpg);
    min-height: 900px;
    // position: relative;
    padding: 10px 0 21px 0;
    // height: 1050px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow: auto;

    input {
        text-align: center;
    }
}


.characters-chosen ul{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.monsters-chosen ul{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.game-create-main li{
    font-size: 20px;
    padding: 5px;
    list-style: none;
    margin: 10px 10px 10px 0;
}
.game-characters-main, .game-monsters-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.game-create-main form{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
}

.game-create-main form label{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c0b3b1;
    opacity: .85;
    margin-top: .6rem;
    width:  450px;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid $main-color;
}

.game-create-main form input{
    font-size: 20px;
    margin:10px;
}

.characters-available, .characters-chosen, .characters-show,
.monsters-show, .monsters-search, .monsters-chosen{
    height: 400px;
    margin: 20px;
    // min-width: 300px;
    background-color: #c0b3b191;
    border-radius: 20px;
    border: 2px solid $main-color;
}
.game-create-main ul {
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
    width: 330px;
    margin: 0px;
    border-radius: 20px;
}
.characters-show h3{
    padding: 10px 0px;
    font-size: 22px;
}
.monsters-show h3{
    padding: 10px 0px;
    font-size: 22px;
}
.game-create-main button{
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    background-color: $back-tone;
    border: 2px solid $sec-highlight;
    border-radius: 15%;
    justify-content: center;
    height: 30px;
    color: $sec-color;
}

button.create-game{
    font-size: 30px;
    border-radius: 15%;
    justify-content: center;
    height: 50px;
    font-size: larger;
    display: flex;
    // position: absolute;
    // bottom: 10px;
    // right: 45%;
    // min-width: 200px;
    // margin-right: -45px;
}
.game-create-main li {
    background-color: #a79f9b59;
    padding: 10px;
    margin: 10px 0px 10px 0;
    border-radius: 10px;
    border: 1px solid black;
}

.game-create-main ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

.game-create-main ul::-webkit-scrollbar-thumb {
    background-color: rgba(70, 1, 1, 0.705);
    border-radius: 10px;
}

.game-create-main ul::-webkit-scrollbar {
    width: 15px;
}
.game-create-error{
    margin: 8px;
    width: 400px;
    background-color: #ff000091;
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 20px;
}
.game-create-error h2{
    color: black;
}

.textB {
    margin: 10px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
.gameTitleBox {
    outline: none;
    border-radius: 4px;
}
.monsterUl {
    padding: 10px;
}

.findMonster {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.textB {
    margin: 10px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    list-style: none;
}
.game-characters-main, .game-monsters-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.game-create-main form{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
}

.game-create-main form input{
    font-size: 20px;
    margin:10px;
}

.characters-available, .characters-chosen, .characters-show,
.monsters-show, .monsters-search, .monsters-chosen{
    height: 400px;
    margin: 20px;
    width: 370px;
    background-color: $light-sec-highlight;
    border-radius: 20px;
}
.game-create-main ul {
    overflow-y: auto;
    overflow-x: hidden;
    height: 320px;
    width: 330px;
    margin: 0px;
}
.characters-show h3{
    padding: 10px 0px;
    font-size: 22px;
}
.monsters-show h3{
    padding: 10px 0px;
    font-size: 22px;
}
.game-create-main button{
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    background-color: $back-tone;
    border: 2px solid $sec-highlight;
    border-radius: 15%;
    justify-content: center;
    height: 30px;
    color: $sec-color;
}

.game-create-main button:hover {
    background-color: $main-highlight;
    color: black;
}

button.create-game{
    font-size: 30px;
    border-radius: 15%;
    justify-content: center;
    height: 50px;
    font-size: larger;
    display: flex;
    // position: absolute;
    // bottom: 10px;
    // right: 45%;
    min-width: 200px;
}

.button-container {
    display: flex;
    width: auto;    
    height: auto;
    justify-content: center;
    // position: relative;
}

.game-create-main li {
    background-color: $sec-color;
    padding: 10px;
    margin: 1rem 1rem 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-create-main ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

.game-create-main ul::-webkit-scrollbar-thumb {
    background-color: rgba(70, 1, 1, 0.705);
    border-radius: 10px;
}

.game-create-main ul::-webkit-scrollbar {
    width: 15px;
}

.display {
    opacity: .85;
    box-sizing: border-box;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .character-details {
        display: flex;
        // align-items: center;
        flex-direction: column;
    }
}

.monsters-search {
    ul {
        height: 290px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    input {
        margin-left: 5px;
    }
}

.no-details {
    height: 300px;
    line-height: 12;
}

.monsters-show, .characters-show {
    h3 {
        margin-bottom: .5rem;
        padding: 0;
    }
    h3:first-child{
        margin-top: .6rem;
    }
    h3:last-of-type{
        // margin-bottom: 1rem;
        margin-top: 1.2rem;
        border-bottom: 1px solid black;
        width: fit-content;
    }

    p {
        margin-bottom: 1.2rem;
    }

    h4 {
        margin-bottom: .5rem;
        font-size: 18px;
    }
}

.characters-show {
    h4:first-of-type {
        margin-top: 1.2rem;
    }
}

.game-title-container {
    width: 470px;
    margin-top: 0.5rem;
    opacity: .8;
    background-color: #c0b3b1;
    border-radius: 20px;
    border: 2px solid $main-color;
}

#create-game {
    background-color: $sec-highlight;
    border: 1px solid $main-color;
    font-family: ribato;
    width: 400px;
    height: 70px;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 14px;
}

#create-game:hover {
    background-color: rgb(192, 21, 21);
}