.character-index-container {
    background-image: url(../assets/images/char-index2.jpg);
    min-height: 900px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.character-index-main {
    min-width: 40%;
    min-height: 60%;
    background-color: $main-color;
    color: white;
}