.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
    background-color: #45484a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 14px 12px #819eb1;
    position: relative;
}

.loginForm {
    text-align: center;
    margin-top: 50px;
   
}

.loginField {
      display: inline-block;
}

.signupForm {
    text-align: center;
    margin-top: 50px;
}

.signupField {
    display: inline-block;
}

.inputBox {
    display: block;
    position: relative;
    padding: 7px 5px;
    width: 270px;
    font-size: 18px;
    border: 1px solid $back-tone;
    border-radius: 3px;
    font-weight: 600;
    background: $main-color;
    font-family: ribato;
    outline: none;
    color: $main-highlight;
}
.inputBox:focus {
    border: 2px solid $main-color;   
    border-style: inset 0 0 1 1;    
}
::placeholder {
    color: $main-highlight;
}

.submitButton {
    background-color: $main-color;
    font-size: 18px;
    font-family: ribato;
    font-weight: 600;
    width: 85px;
    height: 40px;
    border-radius: 4px;
    line-height: 22px;
    cursor: pointer;
    border: 0;
    color: $main-highlight;
    border: 1px solid $main-color;
    outline: none;
}

.demoButton {
    margin-top: 16px;
    background-color: $main-color;
    font-size: 18px;
    font-family: ribato;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    line-height: 22px;
    cursor: pointer;
    border: 0;
    color: $main-highlight;
    border: 1px solid $main-color;
    outline: none;
}

.submitButton:hover, .demoButton:hover {
    background-color:  rgb(59, 57, 57);
}

.submitButton:focus, .demoButton:hover {
    border: 2px solid $main-color;   
    border-style: inset 0 0 1 1;    
}

.login {
    color:$main-highlight;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.loginText {
    margin-top: 15px;
    margin-bottom: 30px;
    color: $main-highlight;
    font-size: 30px;
    cursor: default;
    font-weight: 600;
}

.errors {
    font-size: 18px;
    color: #4790af;
    font-weight: bold;
    margin-bottom: 5px;
}

.errors > div {
    padding: 5px;
}