.header {
    display: flex;
    background-color: $main-color;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    vertical-align: middle;
    border-bottom: 3px solid $sec-highlight;
    padding-top: 10px;
}
.logo a {
    text-decoration: none;
    font-family: UnifrakturMaguntia;
    font-size: 55px;
    color: $sec-highlight;
    cursor: pointer;

}

.logo {
    font-family: UnifrakturMaguntia;
    font-weight: 900;
    font-size: 55px;
    color: $sec-highlight;
    text-shadow: 2px 2px black;
    cursor: pointer;
    padding-left: 10px;
    overflow: hidden;
    justify-self: left;
    margin-left: 15px;
    margin-bottom: 10px;
    min-height: 60px;
}

.nav-Buttons {
    display:flex;
    align-items: center;
    justify-content: center;
}


.nav-Button {
    width: 80px;
    height: 40px;
    padding: 10px;
    border-radius: 14px;
    font-family: ribato;
    font-weight: inherit;
    font-weight: bolder;
    font-size: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: $sec-highlight;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    
}
.nav-Button:hover {
    background-color: rgb(192, 21, 21);
}


.profileButton a {
     text-decoration: none;
     display: inline-block;
     height: 100%;
     margin-top: 15px;
     color: $sec-highlight;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

