.outer-container {
     margin-top: 70px;
    color: rgb(197, 195, 195);
    font-family: Charm;
    padding: 35px 30px;
    font-weight: 700;
    background-color: rgba(31, 32, 33, 0.88);
    border-radius: 14px; 
    min-width: 60%;
    width: 60%;
    height: auto;
    text-align: center;
    border: 1px solid $sec-highlight;
    letter-spacing: 2px;
    line-height: 40px;   
}

.medium-main {
    text-align: center;
    font-size: 30px;
    font-family: Charm;
    font-weight: bold;
    padding: 30px;
}

.large-main {
    font-size: 40px;
}

.splash-container {
  background-image: url(../assets/images/main_page.jpeg);
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}