// Colors
$main-color:#312e30;
$back-tone:#373F51;
$sec-color:#a79f9b;
$main-highlight:#4790af;
$sec-highlight: #ad0b1e;
$third-highlight:  rgb(149, 164, 206);
$light-sec-highlight: #c0b3b1;


// Fonts
$main-logo-font: UnifrakturMaguntia;
$sec-font: Long Cang;