$main-color:#230C33;
$back-tone:#373F51;
$sec-color:#27187E;
$main-highlight:#EA638C;
$sec-highlight:  #7D83FF;
$third-highlight:  rgb(159, 207, 70);
$light-sec-highlight: rgb(163, 167, 235);
$baby-pink: #f7a7c9;

