$main-color:#312e30;
$back-tone:#373F51;
$sec-color:#a79f9b;
$main-highlight:#4790af;
$sec-highlight: #830614;
$third-highlight:  rgb(149, 164, 206);
$light-sec-highlight: #c0b3b1;


// Fonts
$main-logo-font: UnifrakturMaguntia;
$sec-font: Long Cang;


//OLD COLORS
// $baby-pink: #f7a7c9;
// $main-color:#230C33;
// $back-tone:#373F51;
// $sec-color:#27187E;
// $main-highlight:#EA638C;
// $sec-highlight:  #7D83FF;
// $third-highlight:  rgb(159, 207, 70);
// $light-sec-highlight: rgb(163, 167, 235);
// $baby-pink: #f7a7c9;
